{% extends "base-site.html" %} {% block title %} Data {% endblock %} {% block
content %}

<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-6">
        <div class="card">
          <div class="card-status bg-yellow"></div>
          <div class="card-header">
            <h3 class="card-title">Data User</h3>
            <div class="card-options">
              <a href="/DataUser" class="btn btn-yellow btn-sm">
                <i class="fa fa-bookmark"></i> Preview
              </a>
            </div>
          </div>
          <div class="card-body">
            Lakukan maintenance akun pengguna website evaluasi dosen oleh
            mahasiswa (EDOM) Politeknik Harapan Bersama dengan bijak.
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6 col-xl-4">
        <div class="card">
          <div class="card-status bg-teal"></div>
          <div class="card-header">
            <h3 class="card-title">Data Mata Kuliah</h3>
            <div class="card-options">
              <a href="/Maktul" class="btn btn-teal btn-sm">
                <i class="fa fa-bookmark"></i> Preview
              </a>
            </div>
          </div>
          <div class="card-body">
            Lakukan maintenance mata kuliah sesuai kurikulum yang berlaku pada
            program studi di Politeknik Harapan Bersama.
          </div>
        </div>
      </div> -->
      <div class="col-md-6 col-xl-6">
        <div class="card">
          <div class="card-status bg-purple"></div>
          <div class="card-header">
            <h3 class="card-title">Data EDOM</h3>
            <div class="card-options">
              <a href="/DataEdom" class="btn btn-purple btn-sm">
                <i class="fa fa-bookmark"></i> Preview
              </a>
            </div>
          </div>
          <div class="card-body">
            Lakukan maintenance data evaluasi dosen oleh mahasiswa (EDOM)
            Politeknik Harapan Bersama dengan bijak.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
